/*
Template for IMA's Creative Coding Lab 

Project A: Generative Creatures
CCLaboratories Biodiversity Atlas 
*/

body {
    background-color: rgb(0, 0, 0);
    color: rgb(225, 225, 225);
    font-family: 'ABC Solar Display Variable Unlicensed Trial', monospace;
    font-size: 1em;
    line-height: 1.5em;

}

/* title */
#title-wrapper {
    text-align: center;
}

h3{
    font-family: "Zen Dots", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

.headline {
    font-size: 3em;
    font-family: 'Neue Sammlung Text Trials', 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 60px;
}

/* main content */
#main-wrapper {
    width: 800px;
    position: relative;
    margin: auto;
}

.orange {
    color: rgb(244, 146, 55);
}

.red {
    color: rgb(240, 69, 50);
}

.yellow {
    color: rgb(237, 208, 44);
}

.two-columns {
    display: flex;
}

.left {
    width: 50%;
    padding: 0px 10px 0px 0px;
}

.right {
    width: 50%;
    padding: 0px 0px 0px 10px;
}

#footer {
    text-align: center;
    font-size: 0.7em;
    margin-top: 60px;
    padding-bottom: 30px;
}

/* home button */
#home a {
    position: fixed;
    right: 15px;
    top: 15px;
    padding: 5px 10px;
    color: rgb(225, 225, 225);
    border: solid rgb(225, 225, 225) 0.5px;
    font-size: 0.6em;
    text-decoration: none;
}

#home a:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}

/* p5.js sketch */
canvas {
    display: block;
}

#p5-canvas-container {
    margin: auto;
    width: 800px;
    border: none;
    box-shadow: 0px 0px 15px orange;
    margin-bottom: 20px;
}